{% extends 'base.html' %}

{% block title %}تسجيل الدخول{% endblock %}

{% block content %}

<h2>تسجيل الدخول</h2>

{% if error %}
    <p>{{ error }}</p>
{% endif %}

<form method="post">
    {% csrf_token %}

    <label>اسم المستخدم</label>
    <input type="text" name="username" required>

    <label>كلمة المرور</label>
    <input type="password" name="password" required>

    <button type="submit">تسجيل الدخول</button>
</form>

<p>
    ليس لديك حساب؟
    <a href="{% url 'register' %}">إنشاء حساب</a>
</p>

{% endblock %}